$color-honey: #f1b047; //Redigera-knappar
$color-honey-hover: #f39e15; //Redigera-knappar - hover

$color-petrol-add: #268b8f; // +Lägg till knappar
$color-petrol-add-hover: #237b7e; // +Lägg till knappar - hover

$color-green-approve: #7acfa5; //Godkänn - knappar
$color-green-approve-hover: #52b788; //Godkänn - knappar - hover

$color-orange-edit: #f1b047; //Redigera-knappar
$color-orange-edit-hover: #f39e15; //Redigera-knappar - hover

$color-red-delete: #f28482; //Delete-knappar
$color-red-delete-hover: #f56461; //Delete-knappar

$color-white: #ffffff; //vit
$color-black: #000000; //svart

