$color-honey: #f1b047; //honungsfärg
$color-honey-hover: #f39e15; //honungsfärg - hover

$color-green-approve: #74c69d; //Godkänn - knappar
$color-green-approve-hover: #52b788; //Godkänn - knappar - hover

$color-orange-edit: #f7dd68; //Redigera-knappar
$color-orange-edit-hover: #f7d024; //Redigera-knappar - hover

$color-red-delete: #f28482; //Delete-knappar
$color-red-delete-hover: #f56461; //Delete-knappar

$color-white: #ffffff; //vit
$color-black: #000000; //svart