@use '../styles/variables' as *;

.apiary_container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
  
    .back-link {
      display: inline-block;
      margin-bottom: 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
    .apiary-details, .apiaryHives {
      padding: 1.5rem;
      margin-bottom: 2rem;
  
      label {
        font-weight: bold;
        margin-top: 1rem;
        display: block;
      }
  
      input {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.25rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
      }  
      .success-message {
        background-color: #e6f4ea;
        color: $color-green-approve;
        padding: 0.75rem 1rem;
        border-left: 5px solid $color-green-approve;
        border-radius: 6px;
        margin: 1rem auto;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          background: #f9f9f9;
          padding: 0.8rem;
          border: 1px solid lightgrey;
          border-radius: 6px;
          margin-bottom: 0.5rem;
          box-shadow: 5px 5px 10px grey;
  
          strong {
            display: block;
            font-size: 1.1rem;
          }
  
          em {
            color: #555;
            font-size: 0.95rem;
          }
        }

        li:hover {
          cursor: pointer;
          box-shadow: none;
          background-color: #dbd8d8;
        }

        .hive_title {
          font-size: 1.2rem;
        }
      }
    }
  
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
  
      .modal {
        background: $color-white;
        padding: 2rem;
        border-radius: 12px;
        width: 90%;
        max-width: 500px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  
        h3 {
          margin-top: 0;
        }
  
        input {
          margin-bottom: 1rem;
        }

        textarea {
          min-height: 200px;
        }

        .green_btn {
          background-color: $color-green-approve;
          &:hover {
            background-color: $color-green-approve-hover;
          }
        }

        

        

        .cancel_btn {
          background-color: $color-red-delete;
          &:hover {
            background-color: $color-red-delete-hover;
          }
        }
  
      }
    }
  }