@use '../styles/variables' as *;

.create-news-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        label {
            font-weight: bold;
            margin: 0.5rem 0;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1rem;
        }

        textarea {
            min-height: 200px;
            resize: vertical;
        }
    }
}



$color-honey: #f1b047; //honungsfärg
$color-honey-hover: #f39e15; //honungsfärg - hover

$color-green-approve: #74c69d; //Godkänn - knappar
$color-green-approve-hover: #52b788; //Godkänn - knappar - hover

$color-orange-edit: #fdb275; //Redigera-knappar
$color-orange-edit-hover: #f8984a; //Redigera-knappar - hover

$color-red-delete: #f28482; //Delete-knappar
$color-red-delete-hover: #f56461; //Delete-knappar

$color-white: #ffffff; //vit
$color-black: #000000; //svart