@use '../styles/variables' as *;
.login-container {
    max-width: 500px;
    margin: auto;

}

.login-container h1 {
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 2rem;
}

form {
    padding-top: 100px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-button {
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px grey;
    background-color: $color-honey;
    color: $color-black;
    font-size: 24px;
}

.register-prompt p a, .form-group p a {
    color: green;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .login-container {
        padding: 20px;
    }
    
  }