.news_container {
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    text-align: center;
    background-color: #f9f9f9;
    border-left: 4px solid #dfaa19;
    margin-bottom: 3rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.05);
  
    strong {
      font-size: 1.2rem;
    }
  
    small {
      color: #7f8c8d;
      font-size: 0.9rem;
    }
  
    p {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #34495e;
      line-height: 1.5;
    }
  }
  

}