@import '../styles//variables';

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
  }
  
  input {
    padding: 8px;
    font-size: 1rem;
  }
  
  .register_button {
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px grey;
    background-color: $color-honey;
    color: $color-black;
    font-size: 24px;
    cursor: pointer;
  }
  
  .error {
    color: red;
  }
  
  .success {
    color: green;
  }
  