.aside {
    display: flex;
    flex-direction: column;
    align-items: center; // Centrerar allt horisontellt

    li{
        list-style: none;
        margin: 10px;
    }
}

.phone_swarm {
    padding-bottom: 20px;
}


.event-day {
    background-color: #e1f8d8 !important;
    font-weight: bolder;
    border-radius: 3px;
}

.event-underline {
    width: 50%;
    height: 2px;
    background-color: #000;
    margin: auto;
    display: block;
}

.react-calendar__tile--now {
    position: relative;
    z-index: 1;
    border: 1px solid #000000 !important;
    font-weight: bold;
    background: none !important;
    box-sizing: border-box;
    color: black;
}

