@use '../styles/variables' as *;


.react-calendar {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: inherit;

    &__tile {
        padding: 0.6rem 0.4rem;
        font-weight: 400;
        transition: background-color 0.2s;

        &:hover,
        &:focus {
            background-color: $color-honey-hover;
            color: $color-black;
            outline: none;
            cursor: pointer;
        }
    }

    &__tile--now {
        background-color: $color-honey;
        color: $color-black;
        font-weight: 700;
        border-radius: 6px;

    }

    &__tile--active {
        background-color: white;
        color: black;
        box-shadow: 0 0 0 2px black;
        border-radius: 6px;
    }
}

.event-day {
    background-color: $color-honey !important;
    font-weight: 700;
    border-radius: 6px;
    color: $color-black !important;

}

.event-underline {
    width: 40%;
    height: 3px;
    background-color: $color-petrol-add;
    margin: 0.2rem auto 0 auto;
    border-radius: 2px;
}