@use '../styles/variables' as *;

header {
    height: 160px;
    width: 100%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 90%;
    display: flex;
    align-items: center;
}

//Logga
.logo {
    flex-shrink: 0;

    img {
        height: 120px;
    }
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1;
}

.menu-link {
    margin: 0 2rem;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 24px;

        &.active {

            border-bottom: 2px solid $color-honey;
        }

        &:hover {
            color: $color-honey;
            border-bottom: 2px solid $color-honey;
        }
    }
}

.login-link {
    margin-left: auto;
}

//Burgermeny-ikon som är dold som standard
.burger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-left: auto;
    z-index: 20;

    &.open {
        color: rgb(231, 173, 46);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


//Menyval som göms på desktop
.mobile-only {
    display: none;
}

//Minskar fontsize i menyn på skärmar mellan 1024px - 769px
@media (max-width: 1024px) and (min-width: 769px) {
    .menu-link {
        margin: 0 1rem;

        a {
            font-size: 18px;
        }
    }

    .logo img {
        height: 90px;
    }

    .nav-list {
        gap: 1rem;
    }

    .login-link {
        margin-left: auto;
    }
}


//Media Querys för mindre skärmar än 768pixlar
@media (max-width: 768px) {

    .burger {
        display: block; //Visar burger-ikon på små skärmar
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: $color-white;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        box-sizing: border-box;
        z-index: 20;
    }

    .nav-list.open {
        display: flex;
        z-index: 20;
    }

    .menu-link {
        margin: 1rem 0;

        a {
            font-size: 32px;
            font-weight: bold;
        }
    }

    .login-link {
        margin-left: 0;
    }

    .mobile-only {
        display: block;
    }

    .close-menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 1rem 1.5rem;
    }

    .close-btn {
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: $color-honey;
    }
}